YANDEX_METRIKA_TOKEN=your_oauth_token_here
# Получить токен можно здесь: https://oauth.yandex.ru/authorize?response_type=token&client_id=YOUR_CLIENT_ID
# Или воспользуйтесь отладочным токеном из консоли Яндекса
